#Update values based on your own setup!
#app configuration
APP_PORT = 3000

# database configuration
DATABASE_HOST = "localhost"
DATABASE_PORT = 5432
DATABASE_USER = "postgres"
DATABASE_PASSWORD = "admin"
DATABASE_NAME = "fithub"

#jwt configuration
JWT_SECRET = "SECRET!"
JWT_EXPIRES_IN = 3600

# Email
EMAIL_HOST = "sandbox.smtp.mailtrap.io"
EMAIL_PORT = 2525
EMAIL_USER = "12fd7188229d86"
EMAIL_PASSWORD = "6838cb928b1a80"